/node_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
/feature/*/oh_modules
/oh_modules
/product/*/oh_modules
/signature/hapsign-online-plugin.jar
/signature/hap-sign-tool.jar
/signature/material/
/product/phone/TEMP_DESKTOP_ICON_VERIFY.md
/product/phone/.test
/.local-debug/